<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if !@user.profile.nil? %>
      <h3>Profile</h3>
        <%= render @profile %>
    <% else %>
      <h3>No profile :(</h3>
    <% end %>
  </div>
  <div class="col-md-8">
     <h3>Diseases</h3>
        <%= render @diseases %>
   </div>

</div>
